.question {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 30px;
  font-family: sans-serif;
}
.qna-div {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 20px;
  margin: 20px;
  border-radius: 30px;
}
.answers {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
h1 {
  margin-left: 20px;
}
